html {

}
body {
  background: #222;
  color: white;
  font-size: 40px;
  font-family: "Comic Sans MS";
}
body.attention {
  background: #900;
  animation: blink 1s linear infinite;
}
#chat > div  {
  width: calc(100%-20px);
  border-left: 10px solid white;
  margin: 5px;
  background: rgba(0,0,0,0.5);
  border-radius: 5px;
}

@keyframes blink {
  50% { background-color: #222; }
  99% { background-color: #ff0000; }

  100% { background-color: #222; }
}
